/* UserForm.css and UserEdit.css */

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .user-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f9f9f9;
  }
  
  .user-form input,
  .user-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user-form button:hover {
    background-color: #0056b3;
  }
  